// Bootstrap
$primary: #121212;
$secondary: #928982;

// Custom
$main-font-color: rgba(15, 15, 15, 0.65);
$calendly-bg-color: #c1b4ad;
$form-input-bg-color: #c1b4ad;
$form-button-color: #c06b36;
$form-button-color-hover: #c1b4ad;
$list-bullet-color: #9b6b37;
