#interna {
    h1 {
        @include font-size(2.5rem);
    }

    img {
        @include transition(ease, 1s);

        &:hover {
            -webkit-transform: scale(
                0.9
            ); /* Safari and older versions of Chrome */
            -moz-transform: scale(0.9); /* Firefox */
            -ms-transform: scale(0.9); /* Internet Explorer 9 */
            -o-transform: scale(0.9); /* Opera */
            transform: scale(0.9);
        }
    }

    .icono {
        display: inline-block;
        max-width: 20px;
        vertical-align: top;
    }

    .post-thumbnail {
        background-position: center !important;
        background-size: cover !important;
        width: 100%;
        height: 600px;
    }

    .bg-post-details {
        background-color: $bg-post-details;
    }

    .post-details {
        color: $text-post-details;
        padding: 60px 40px;
        text-align: center;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $text-post-details;
        }
    }
}

#interna-featured {
    .container-content {
        background-position: center !important;
        background-size: cover !important;
        padding: 150px 30px 30px;
        width: 100%;
        float: left;
    }
}

.interna-dark {
    color: $white;

    .card {
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 25px;

        h1 {
            @include font-size(1.4rem);
            font-size: 1.4rem !important;
        }

        a {
            color: $main-font-color;
            position: relative;
        }
    }
}

.interna-posts {
    background-color: #333;

    .card {
        background-color: #c4b7b0;
    }
}

.interna-descargables {
    background-color: #0a0a0a;

    .card {
        background-color: #333;
    }
}

.interna-multimedia {
    background-color: #333;

    .card {
        background-color: transparent;
        padding: 0;

        a {
            color: $main-font-color;

            i {
                position: absolute;
                @include absolute-center-x;
                @include absolute-center-y;
            }
        }
    }
}

#modelos {
    text-align: center;

    .nav-pills {
        display: flex;
        justify-content: center;

        .nav-link {
            background-color: $secondary;
            border-radius: 0;
            font-family: "futuratmedregular", sans-serif;
            text-transform: uppercase;
        }

        .nav-link.active {
            background-color: $primary;
        }
    }

    .tab-content {
        img {
            max-height: 440px;
        }
    }
}

#comentarios,
#footer-modelos {
    background-color: #d6d2ce;
}

#footer-modelos {
    text-align: center;
}
